<!-- dashboard.component.html -->
<p-table #dt 
[value]="products" [paginator]="true" 
[rows]="6" 
[globalFilterFields]="['title', 'brand', 'category']"
[(selection)]="selectedProducts" 

[exportHeader]="'customExportHeader'" 
  [resizableColumns]="true" [scrollable]="true" scrollHeight="400px">
  <ng-template pTemplate="caption">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="onFilterGlobal($event, dt)" placeholder="Search" />
        </span>
      </div>

      <button pButton type="button" label="Export CSV" icon="pi pi-upload" (click)="dt.exportCSV()"></button>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
      <th pSortableColumn="title">Title <p-sortIcon field="title" /></th>
      <th pSortableColumn="brand">Brand <p-sortIcon field="brand" /></th>
      <th pSortableColumn="category">Category <p-sortIcon field="category" /></th>
      <th pSortableColumn="price">Price <p-sortIcon field="price" /></th>
    </tr>
    <tr>
      <th><input pInputText type="text" (input)="onFilter($event, 'id', dt)" /></th>
      <th><input pInputText type="text" (input)="onFilter($event, 'title', dt)" /></th>
      <th><input pInputText type="text" (input)="onFilter($event, 'brand', dt)" /></th>
      <th><input pInputText type="text" (input)="onFilter($event, 'category', dt)" /></th>
      <th><input pInputText type="text" (input)="onFilter($event, 'price', dt)" /></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.brand }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.price | currency }}</td>
    </tr>
  </ng-template>
</p-table>